
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  background-image: url(Assets/Images/ignasi_pattern_s.png)
}
.content {
  flex: 1 0 auto;
}

.navbar {
  border-bottom-style: solid;
  border-bottom-color: teal;
  border-bottom-width: 5px;
}
.footer {
  flex-shrink: 0;
  background-color: #666;
  min-height: 40px;
  color: white;
  padding: 20px;
  border-top-style: solid;
  border-top-color: teal;
  border-top-width: 5px;
}
.card{
    background-color:white;
    margin-right: 20px;
    margin-left: 20px;
    padding-left:30px;
    padding-right:30px;
    margin-bottom: 20px;
    margin-top:50px;
    width: auto;
}
.cardhead {
  font-size: 36px;  
  padding: 20px 0 0 0px;
}
.cardhead h2 {
    color:teal;
}
.cardbody {
  padding: 10px 0 10px 0px;
}

hr {
  border-top: 1px solid grey;
  margin: 0px 20px;
  padding:  0px 20px;
}
.navbar-brand {
    background-color: teal;
    padding:10px 5px;
}

.navbar-light .navbar-brand {
  color:white;
}

.headshot {
    width: 33%;
    height: auto;
    margin: 0 15px 0px 0;
}

.btn-primary {
    background-color: teal;
    border-color: teal;
    border-radius: 0px;
    padding: 10px;
  }

  .btn-primary:hover {
      background-color: white;
      color:teal;
      border-color:teal
  }

  .portfolioimgcell {
    float:left;
  }

  .portfolioimg {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    float: left;
  }

  .portfoliotext {
    font-size: small;
  font-style: italic;
  text-align: center;
  }

  .follow {
    float: left;
    font-weight: bold;
  }
  .socialicon {
    height: 30px;
    width: auto;
    float: left;
    margin-left: 10px;
  }
  .copywrite {
    text-align: right;

  }

  .published {
    color: teal;
    font-weight: 600;
  }

  .published:Hover {
    font-weight: 600;
    color: rgb(1, 78, 78)
  }

  @media screen and (max-width:768px) {
    .copywrite {
      text-align: center;
      float:none;
      
    }
    .socialcontainer {
      display: block;
      margin-left: auto;
     margin-right: auto;
    }
    .socialicon {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .follow {
      float: none;
      text-align: center;
  }