/* This sheet is styling specific to the About me Page */

/* headshot image styling */
.headshot {
    width: 33%;
    height: auto;
    margin: 0 15px 0px 0;
    border-radius: 50%;
}
/* Published Resach Hyper link Styling */
.published {
    color: rgb(66, 18, 143);
    font-weight: 600;
  }

  .published:Hover {
    font-weight: 600;
    color: rgb(134, 62, 192);
  }

  .portfolioLink {
    color: rgb(66, 18, 143);
    text-align: center;
  }