/* This sheet is styling specific to the Contact Page */

/* Styling of the Submit Button */

.btn-primary {
    background-color: rgb(66, 18, 143);
    border-color: rgb(66, 18, 143);
    border-radius: 0px;
    padding: 10px;
  }

  .btn-primary:hover {
      background-color: white;
      color:rgb(66, 18, 143);
      border-color:rgb(66, 18, 143);
  }
  #link {
    color: rgb(66, 18, 143);
    font-weight: 600;
  }

  #link:Hover {
    font-weight: 600;
    color: rgb(134, 62, 192);
  }
  