/* This sheet is styling specific to the Portfolio Page */

/* Styling of the images */
.portfolioimgcell {
    float:left;
  }

  .portfolioimg {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    float: left;
  }

  /* Image Description Styling */

  .portfoliotext {
  font-size: small;
  font-style: italic;
  text-align: center;
  }

  #portfolioLink{
    color: rgb(66, 18, 143);
    text-align: center;
    
  }

  #portfolioLink{
    color: rgb(134, 62, 192);
  }