/* This sheet is styling specific to the Portfolio Page */

/* Styling of the images */
.portfolioimgcell {
    /* float:left; */
    /* height: 250px; */
    /* text-align: center;
    display: block; */
  }

  .portfolioimg {
    width: auto;
    max-width: 100%;
    height: 170px;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  /* Image Description Styling */

  .portfoliotext {
  font-size: small;
  /* font-style: italic; */
  text-align: center;
  margin-bottom: 5px;
  }

  #portfolioLink{
    color: black;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    
  }

  #portfolioLink{
    color: rgb(66, 18, 143);
    font-weight: 600;
  }
  .imageblock{
    height:230px;
  }
  .projectRow {
    margin-top: 40px;
  }