/* This sheet is styling Generic to the whole site */

html,
body {
  height: 100%;
  color:white;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  background-image: url(../Images/black-rock-tiles.jpg);
  background-size: contain;
}
.content {
  flex: 1 0 auto;
}

/* Navbar Styling */
.navbar {
  border-bottom-style: solid;
  border-bottom-color:  rgb(66, 18, 143) ; 
  border-bottom-width: 3px; 
  color: black;
  background-color:   rgba(255, 255, 255, 0.6) ;
}

.navbar-brand {
    background-color: rgba(255, 255, 255, 0.4) ;
    padding:10px 5px;
    border-style: solid;
    border-color: #9370db ;
    border-width: 1px;
    border-radius: 5px;
    color:  rgb(66, 18, 143)!important; 
}
.navbar-brand:hover {
    color: #9370db !important; 
    background-color: whitesmoke;
}

#navLink {
  color: black;
}


/* Content Card Styling */
.card {
  background-color: rgba(255, 255, 255, 0.4);
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: auto;
}
.cardhead {
  font-size: 36px;
  padding: 20px 0 0 0px;
}
.cardhead h2 {
  color: rgb(66, 18, 143);
}
.cardbody {
  padding: 10px 0 10px 0px;
}

hr {
  border-top: 1px solid rgb(66, 18, 143);
  margin: 0px 20px;
  padding: 0px 20px;
}

/* Footer Styling*/
.footer {
  flex-shrink: 0;
  background-color: #666;
  min-height: 40px;
  color: white;
  padding: 20px;
  border-top-style: solid;
  border-top-color: teal;
  border-top-width: 5px;
}
/* Social Media inside footer styling */
.socialcontainer {
    float: left;
    margin: 0 15px;
  }
  .follow {
  
    font-weight: bold;
  }
  .socialicon {
    height: 30px;
    width: auto;
    
    margin-left: 10px;
  }
  .copywrite {
    text-align: right;

  }
 /* Mobiel Stying */
 @media screen and (max-width:768px) {
    .copywrite {
      text-align: center;
      float:none;
      
    }
    .socialcontainer {
      float: none;
      text-align: center;
      justify-content: center;
    }
    .socialicon {
      float: none;
    }

    .follow {
      float: none;
      text-align: center;
  }

  @media screen and (max-width:576px){
    .card{
      
      margin-right: 0px;
      margin-left: 0px;
      padding-left:30px;
      padding-right:30px;
      margin-bottom: 30px;
      margin-top:30px;
      width: 100%;
  }
  }